
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/.idea/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
